@font-face {
    font-display: swap;
    font-family: "JetBrains Mono";
    font-weight: 200;
    src: url("../assets/JetBrainsMono-200.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "JetBrains Mono";
    font-weight: 400;
    src: url("../assets/JetBrainsMono-400.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "JetBrains Mono";
    font-weight: 600;
    src: url("../assets/JetBrainsMono-600.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "JetBrains Mono";
    font-weight: 800;
    src: url("../assets/JetBrainsMono-800.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 1vw;
    line-height: 2;
    background-color: #000;
    color: #af7c68;
}

html,
body {
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

video.show {
    display: block;
}

.dps-container .dps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3.5vw;
    -webkit-mask-size: 0% 0%;
    -webkit-mask-repeat: no-repeat;
    transition: -webkit-mask-size 2s ease;
}
.dps-container .dps.half-opacity {
    opacity: 0.5;
}

.dps-container .dps.no-animation {
    transition: none;
}

.dps-container .dps.left {
    padding-right: 25vw;
    -webkit-mask-image: linear-gradient(135deg, transparent 30%, black 70%);
    -webkit-mask-position: bottom right;
}

.dps-container .dps.right {
    padding-left: 25vw;
    -webkit-mask-image: linear-gradient(225deg, transparent 30%, black 70%);
    -webkit-mask-position: bottom left;
}

.dps-container .dps.show {
    -webkit-mask-size: 200% 200%;
}

.dps-container .credit-container {
    display: flex;
    width: 100%;
}

.dps-container .credit-container .credit-column {
    width: 50%;
}

.dps-container .credit-container .credit-column:nth-child(1) {
    margin-right: 1.5vw;
}

.dps-container .credit-container .credit-column:nth-child(2) {
    margin-left: 1.5vw;
}

h1 {
    font-size: 5em;
    font-weight: 400;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5;
}

h4 {
    font-weight: 400;
    margin-top: 3em;
    margin-bottom: 1em;
}

h4:nth-of-type(1) {
    margin-top: 0;
}

.dps-container .credit-container .qr {
    margin-top: 3.5em;
    margin-bottom: 1em;
    width: 12vw;
}
.dps-container .credit-container .sponsors {
    width: 92.5%;
    margin-top: 0.6em;
}
.article {
    height: 35vw;
    columns: 2;
    column-fill: auto;
    column-gap: 2vw;
}

p {
    margin-bottom: 2em;
}