body {
    margin: 0;
    padding: 0;
    background-color: #f0f;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

video.show {
    display: block;
}

button {
    font-size: 36px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
}

button:active {
    background-color: red;
    color: white;
}

.button-row {
    display: flex;
}
